h1,
h2,
h3 {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
}

h1 {
    font-style: italic;
}

#srclink {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
    font-size: 12px;
    /* color: #808080; */
}

#progressbar {
    width: 30%;
    height: 15px;
    background: #808080;
    border-color: #808080;
    border-radius: 20px;
    display: inline-block;
}

#topicTitle {
    display: inline-block;
}

#numRepos {
    display: inline-block;
    font-size: 14px;
    font-style: italic;
}

#progressbar>div {
    background: #a8ecb8;
}

#filterDiv,
.dataTables_length,
.dataTables_filter,
#dataTable_paginate {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
    font-weight: bold;
}

#filterDiv {
    /* display: inline-block; */
    text-align: right;
    padding-bottom: 10px;
}

#dataTable_info {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
    font-style: italic;
}

#dataTable {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
}

#dataTable thead {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

td.repo {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap;     */
}

td.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    overflow: hidden;
}

td.owner {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap;     */
}

th.stars,
th.forks,
th.size,
td.stars,
td.forks,
td.size {
    text-align: right !important;
}

th.date {
    text-align: center !important;
}

td.date {
    text-align: center;
}

th {
    color: white;
    background-color: #0044aa;
    border: 1px solid #fff;
    /* background-color: #f2f2f2; */
}


.odd,
.odd-row {
    background-color: #f2f2f2 !important;
}

.even,
.even-row {
    background-color: #ffccaa !important;
    /* background-color: #a8ecb8 !important; */
}

tr:hover {
    background-color: #a5d7fe !important;
}

.column,
.sort-button {
    display: inline-block;
}

div.sort-button:hover {
    cursor: pointer;
}